:root {
  --form-height: 325px;
}
body {
  background: linear-gradient(
    90deg,
    rgb(63, 63, 56) 0%,
    rgba(121, 116, 9, 0.8018557764902836) 33%,
    rgba(249, 255, 220, 0.5609594179468662) 100%
  );
}

.App {
  text-align: center;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.select-input {
  height: 2rem;
  width: 12rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.forms {
  display: flex;
  flex-direction: row;
  left: 50vw;
  transform: translateX(-50%);
  position: absolute;
  border-bottom: #5e6168 solid 1px;
  padding-bottom: 3rem;
  height: var(--form-height);
}

.actor-form {
  margin-left: 5rem;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.actor-form-title-spacing {
  height: 41px;
}

.movie-form {
  margin-right: 5rem;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.button-container-movie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(0.5rem);
}

.button-container-actor {
  transform: translateY(2rem);
}

.button-space {
  width: 1rem;
}

.movie-list-container {
  position: absolute;
  transform: translate(-50%, calc(var(--form-height) + 4rem));
  width: 50vw;
  left: 50%;
}

.movie-list {
  display: flex;
  flex-direction: row;

  margin-top: 3rem;
  overflow-x: auto;
}

.movie-tile {
  border: solid rgb(102, 85, 85) 2px;
  border-radius: 10px;
  width: 20vw;
  margin: 1rem;
  transition: 1s;
  min-height: 90vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-tile > img {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 5px;
}

.actor-tile img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 5px;
}

.movie-tile-header {
  width: 20vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.actor-name {
  font-weight: bold;
}

.nationality {
  font-size: 0.8rem;
}

.actor-list-container {
  position: absolute;
  top: calc(var(--form-height) + 1050px);
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  overflow-x: auto;
}

.actor-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

/* .actor-tile {
  margin: 5xp;
} */

/* width */
::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(46, 45, 45);
  border-radius: 10px;
  border: solid 1px rgb(54, 54, 54);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(54, 48, 65);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 48, 65);
}
